@* 
    ==========================================================================
     *                           COPYRIGHT NOTICE                           *
    ==========================================================================
     |                                                                       |
     | Sharing Reward Points Plugin for nopCommerce                          |
     | Copyright (c) smiten. All Rights Reserved.                            |
     | Email - smiten.kalathiya6@gmail.com                                   |
     =========================================================================
     |                                                                       |
     | You may not reverse  engineer, decompile, defeat  license  encryption |
     | mechanisms  or  disassemble this software product or software product |
     | license.                                                              |
     =========================================================================
     |                                                                       |
     | This  software is developed  under a license  and  may  be  used  and |
     | modified  only in  accordance with the terms of such license and with |
     | the  inclusion of the above  copyright notice.  This software or  any |
     |                                                                       |
     =========================================================================
      *                           COPYRIGHT NOTICE                          *
     =========================================================================
*@
@using Microsoft.AspNetCore.Mvc.Controllers
@using Nop.Core
@using Nop.Core.Plugins
@using Nop.Services.Authentication.External
@using Nop.Services.Cms
@using Nop.Services.Common
@using Nop.Services.Payments
@using Nop.Services.Shipping
@using Nop.Services.Shipping.Pickup
@using Nop.Services.Tax
@inject IPluginFinder pluginFinder
@inject IWebHelper webHelper
@{
    var plugin = PluginManager.FindPlugin((this.ViewContext.ActionDescriptor as ControllerActionDescriptor).ControllerTypeInfo).Instance();

    //friendly name
    var friendlyName = plugin?.PluginDescriptor.FriendlyName;

    var activeMenuSystemName = string.Empty;
    var configureLocale = string.Empty;
    var backToLocale = string.Empty;
    var listActionMethodName = string.Empty;
    var listControllerName = string.Empty;

    if (plugin is IWidgetPlugin)
    {
        //widgets
        activeMenuSystemName = "RewardPoint.Sharing";
        configureLocale = "Admin.ContentManagement.Widgets.Configure";
        backToLocale = "Admin.ContentManagement.Widgets.BackToList";
        listActionMethodName = "List";
        listControllerName = "Widget";
    }

    Layout = "_AdminLayout";
    //page title
    ViewBag.Title = T(configureLocale).Text + " - " + friendlyName;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName(activeMenuSystemName);
}
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T(configureLocale) - @friendlyName
        <small>
            <i class="fa fa-arrow-circle-left"></i>
            <a asp-action="@listActionMethodName" asp-controller="@listControllerName">@T(backToLocale)</a>
        </small>
    </h1>
    <div class="pull-right">
        &nbsp;
    </div>
</div>
<div class="content">
    <div class="form-horizontal">
        @RenderBody()
    </div>
</div>
