@*
    ==========================================================================
     *                           COPYRIGHT NOTICE                           *
    ==========================================================================
     |                                                                       |
     | Sharing Reward Points Plugin for nopCommerce                          |
     | Copyright (c) smiten. All Rights Reserved.                            |
     | Email - smiten.kalathiya6@gmail.com                                   |
     =========================================================================
     |                                                                       |
     | You may not reverse  engineer, decompile, defeat  license  encryption |
     | mechanisms  or  disassemble this software product or software product |
     | license.                                                              |
     =========================================================================
     |                                                                       |
     | This  software is developed  under a license  and  may  be  used  and |
     | modified  only in  accordance with the terms of such license and with |
     | the  inclusion of the above  copyright notice.  This software or  any |
     |                                                                       |
     =========================================================================
      *                           COPYRIGHT NOTICE                          *
     =========================================================================
*@

@model Nop.Plugin.RewardPoint.Sharing.Models.ConfigurationModel
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI

@{
    Layout = "";
   Html.SetActiveMenuItemSystemName("RewardPoint.Sharing");
}
@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="panel-group">

    <div class="panel panel-default">
        <div class="panel-body">
            @T("Nop.Plugin.RewardPoint.Sharing.Note")
            <div class="form-group" style="margin-top:20px">

                <div class="col-md-3">
                    @Html.OverrideStoreCheckboxFor(model => model.Enable_OverrideForStore, model => model.Enable, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.Enable)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.Enable)
                    @Html.ValidationMessageFor(model => model.Enable)
                </div>



            </div>


            <div class="form-group">
                <div class="col-md-3">
                    @Html.OverrideStoreCheckboxFor(model => model.Widget_OverrideForStore, model => model.Widget, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.Widget)
                </div>
                <div class="col-md-9">
                    @Html.NopDropDownList("Widget", Model.AvailableBasepriceUnits)

                    @Html.ValidationMessageFor(model => model.Widget)
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.OverrideStoreCheckboxFor(model => model.RewardPointPanel_OverrideForStore, model => model.RewardPointPanel, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.RewardPointPanel)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.RewardPointPanel)
                    @Html.ValidationMessageFor(model => model.RewardPointPanel)
                </div>

            </div>


            <div class="form-group">
                <div class="col-md-3">
                    @Html.OverrideStoreCheckboxFor(model => model.Button_OverrideForStore, model => model.Button, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.Button)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.Button)
                    @Html.ValidationMessageFor(model => model.Button)
                </div>

            </div>


            <br /><div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    <input type="submit" name="save" class="btn bg-blue" value="@T(" Admin.Common.Save")" />
                </div>
            </div>


        </div>
    </div>
</div>
}